.navbar {
  position: relative;
  height: 160px;
}

.navbar-brand {
  transform: translateX(-50%);
  left: 50%;
  position: absolute;
}

.navbar-gradient {
  background-image: linear-gradient(15deg, #13547a 0%, #80d0c7 100%);
}

.app-area {
  margin-top: 2.5rem;
}

.text-area-container {
  position: relative;
}

.text-area-container .btn {
  position: absolute;
  bottom: 10px;
  right: 10px;
}
