<!DOCTYPE html>
<html>

<head>
    
    <style>
        body
        .navbar{
            overflow: hidden;
            background-color:rgb(53, 52, 52);
            position: fixed;
            top: 0;
            width: 100%;
        }
    </style>
    <title>Context Sensitive Spelling Detection</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/static/style.css">

   
</head>

<body>

    <nav class="navbar">
        <div id="main">
            <span style="font-size:20px;cursor:pointer;"></span>
            <a class="navbar-brand" href="#" style="color:rgb(236, 236, 247);font-family: 'Times New Roman';">
            ContextSpellChecker
            </a>
        </div>
    </nav>
    ​
   <div class="jumbotron text-center">
       <h1>Team 7- Context Spell Checking Website</h1>
   </div>

    <div class="container">
        <form action="/" method="POST">
            <div class="form-group">
                <label for="usr">Enter your phrase here:</label>
                <input name="text" type="text" class="form-control" id="usr" placeholder="search">
            </div>
            <div class="output_class">
                <p>{{error}}</p>
                <p id="text">Text: {{text}}</p>
                <p id="misspelled">Misspelled Words:</p>
                {% for word in misspelled %}
                <select>
                    <option value="" disabled selected>{{word}}</option>
                    {% for key in suggestions[word] %}
                    <option value = {{key}}>{{key}}</option>
                    {% endfor %}
                </select>
                {% endfor %}
            </div>
            <button type="submit" name="submit_button" class="btn btn-primary btn-lg" value="submit">Submit</button>
            <button type="submit" name="submit_button" class="btn btn-danger btn-lg" value="clear">Clear</button>
            <select name=lang class="Lang-Dropdown">
                <option value="" disabled selected>Select Language</option>
                <option value="English">English (EN-US)</option>
                <option value="Spanish">Spanish</option>
            </select>
        </form>
    </div> ​
</body>